* {
  cursor: none; }

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 9999; }

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5; }

body {
  font-family: "Assistant", sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    text-transform: uppercase;
    color: #335384;
    letter-spacing: 2px; }
  body h2 {
    font-size: 1.25rem;
    font-weight: 600; }
  body .btn {
    padding: 0.2em 1em;
    background-color: #5ba7d1;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: none; }
    body .btn i {
      margin-right: 5px; }
    body .btn:hover {
      background-color: #335384;
      color: #5ba7d1; }
  @media screen and (max-width: 768px) {
    body .container {
      width: 100%;
      max-width: 100%;
      padding: 0; } }
  body ::-webkit-scrollbar {
    height: 0px;
    width: 2px;
    background: #e6e6e6; }
  body ::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.493); }

header {
  position: fixed;
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  padding: 10px 0;
  z-index: 999; }
  @media screen and (max-width: 768px) {
    header {
      padding: 10px 20px; } }
  header .inner {
    position: relative; }
  header.scrolled {
    background-color: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }
    header.scrolled .name h1 {
      color: #335384; }
    header.scrolled .name p {
      color: #335384; }
    header.scrolled .navigation nav ul li a {
      color: #335384; }
  header .name h1 {
    color: #fff;
    font-size: 1.6em;
    text-transform: capitalize;
    margin-bottom: 5px;
    font-family: "Unica One", sans-serif; }
  header .name p {
    color: #fff;
    font-size: 0.9em; }
  header .navigation {
    display: flex;
    align-items: center;
    justify-content: end; }
    header .navigation nav ul {
      gap: 30px;
      list-style: none;
      justify-content: end;
      position: relative; }
      header .navigation nav ul li {
        position: relative; }
        header .navigation nav ul li:hover:before {
          opacity: 1;
          transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s;
          transform: rotate(100deg); }
        header .navigation nav ul li:hover:after {
          transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
          transform: rotate(100deg);
          opacity: 1; }
        header .navigation nav ul li:before {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          width: 20px;
          background-color: #fff;
          transform: rotate(80deg);
          left: -20px;
          bottom: 10px;
          opacity: 0;
          transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s; }
        header .navigation nav ul li a {
          color: #fff;
          text-decoration: none; }
        header .navigation nav ul li:after {
          content: '';
          display: block;
          position: absolute;
          height: 2px;
          width: 20px;
          background-color: #fff;
          transform: rotate(80deg);
          right: -20px;
          bottom: 10px;
          opacity: 0;
          transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s; }

.intro-about {
  height: 90vh; }
  .intro-about .container {
    height: 100%;
    position: relative; }
    .intro-about .container .profile-img {
      width: 100%;
      border-radius: 20px; }
    .intro-about .container .intro-wrap {
      height: 100%;
      gap: 40px; }
    @media screen and (max-width: 768px) {
      .intro-about .container .profile-wrap {
        display: none !important; } }
    @media screen and (max-width: 768px) {
      .intro-about .container .inner {
        margin: 0 20px; } }
    .intro-about .container .inner h2 {
      font-size: 3em;
      color: #84dfe2;
      font-family: "Unica One", sans-serif;
      font-weight: 400;
      text-transform: capitalize; }
      @media screen and (max-width: 768px) {
        .intro-about .container .inner h2 {
          font-size: 2.6em; } }
    .intro-about .container .inner p {
      color: #dbdbdb;
      font-size: 1.4em; }
      .intro-about .container .inner p .bolding {
        font-weight: bold;
        font-family: "Unica One", sans-serif; }
      @media screen and (max-width: 768px) {
        .intro-about .container .inner p {
          font-size: 1.1em; } }
    .intro-about .container .inner .resume-btn {
      border-radius: 10px;
      background: none;
      border: 1px solid #fff;
      padding: 10px 30px; }
      .intro-about .container .inner .resume-btn:hover {
        background-color: #84dfe2;
        border-color: #84dfe2;
        color: #092979; }

.skills {
  padding: 50px 0; }
  .skills .container .inner h2 {
    font-family: "Unica One", sans-serif;
    font-size: 1.75rem;
    font-weight: 400; }
  .skills .container .inner h3 {
    font-family: "Unica One", sans-serif;
    font-size: 1.2rem; }
  .skills .container .inner ul {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px; }
    .skills .container .inner ul li {
      list-style: none;
      padding: 5px 10px;
      width: 100px;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
      font-size: 0.8rem;
      text-align: center; }
    .skills .container .inner ul li:first-child {
      background-color: #5BA7D1; }
    .skills .container .inner ul li:nth-child(2) {
      background-color: #579EC9; }
    .skills .container .inner ul li:nth-child(3) {
      background-color: #5090BC; }
    .skills .container .inner ul li:nth-child(4) {
      background-color: #4B86B3; }
    .skills .container .inner ul li:nth-child(5) {
      background-color: #467CA9; }
    .skills .container .inner ul li:nth-child(6) {
      background-color: #4172A0; }
    .skills .container .inner ul li:nth-child(7) {
      background-color: #3C6796; }
    .skills .container .inner ul li:nth-child(8) {
      background-color: #375D8D; }
    .skills .container .inner ul li:nth-child(9) {
      background-color: #335384; }

.intro-skills {
  margin-top: 100px;
  position: relative;
  margin-bottom: 100px; }
  @media screen and (max-width: 768px) {
    .intro-skills {
      width: 100%; } }
  .intro-skills .profile-inner {
    height: 100%;
    padding: 4em 3em;
    background-color: #f9f9f9;
    border-radius: 30px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1); }
    @media screen and (max-width: 1100px) {
      .intro-skills .profile-inner {
        padding: 1.5em 0em; } }
    @media screen and (max-width: 768px) {
      .intro-skills .profile-inner {
        padding: 1.5em 1em; } }
    @media screen and (max-width: 768px) {
      .intro-skills .profile-inner {
        position: initial !important;
        width: 100%; } }
    .intro-skills .profile-inner .sections-wrap {
      height: 100%; }
      @media screen and (max-height: 900px) {
        .intro-skills .profile-inner .sections-wrap {
          overflow: scroll; } }
  .intro-skills .profile-img-wrapper {
    text-align: center;
    position: relative;
    width: 200px;
    margin: 0 auto; }
    .intro-skills .profile-img-wrapper:before {
      content: '';
      background-color: rgba(51, 83, 132, 0);
      border-radius: 100px;
      transition: all ease 0.2s; }
    .intro-skills .profile-img-wrapper:after {
      content: '\f360';
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      opacity: 0;
      transition: all ease 0.2s; }
    .intro-skills .profile-img-wrapper:hover:before {
      content: '';
      background-color: rgba(51, 83, 132, 0.4);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all ease 0.2s; }
    .intro-skills .profile-img-wrapper:hover:after {
      opacity: 1;
      background-color: rgba(91, 168, 209, 0.8);
      color: #fff;
      padding: 0.8em 1.1em;
      border-radius: 55px;
      transform: translate(-50%, -50%) rotate(0deg); }
  .intro-skills .profile-img {
    width: 200px;
    border-radius: 100px; }
  .intro-skills .about {
    padding: 0.5em 3em; }
    @media screen and (max-width: 768px) {
      .intro-skills .about {
        padding: 0.5em 1em; } }
  .intro-skills .contact {
    padding-top: 0em; }
    .intro-skills .contact p {
      color: #335384; }
      .intro-skills .contact p i {
        width: 20px; }
      .intro-skills .contact p a {
        text-decoration: none;
        color: #335384; }

.projects {
  margin-bottom: 100px;
  scroll-margin-top: 10em; }
  @media screen and (max-width: 768px) {
    .projects {
      margin: 100px 20px; } }
  .projects .projects-wrap {
    gap: 40px; }
  .projects h3 {
    font-weight: 400;
    color: #335384;
    text-transform: capitalize;
    font-family: "Unica One", sans-serif; }
  .projects .bolding {
    font-weight: 700;
    color: #6589bf;
    text-transform: uppercase;
    letter-spacing: 2px; }
  .projects .project {
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eff0f2; }
    .projects .project:last-child {
      border-bottom: none; }
    .projects .project .first-line {
      display: flex;
      margin-bottom: 10px; }
      @media screen and (max-width: 768px) {
        .projects .project .first-line {
          flex-direction: column; }
          .projects .project .first-line .tech {
            margin-left: 0 !important;
            margin-bottom: 10px; } }
      .projects .project .first-line a {
        text-decoration: none; }
      .projects .project .first-line .tech {
        margin-left: 10px; }
    .projects .project .project-title {
      font-size: 1.2em;
      color: #6589bf;
      font-family: "Unica One", sans-serif; }
    .projects .project .tech .tag {
      font-size: 0.7em;
      color: #fff;
      padding: 0.5em 1em;
      text-decoration: none;
      border-radius: 3px;
      margin: 0 2px;
      transition: all ease 0.2s; }
      .projects .project .tech .tag:hover {
        opacity: 0.8;
        transition: all ease 0.2s; }
    .projects .project .tech .gatsby {
      background-color: #663399; }
    .projects .project .tech .sanity {
      background-color: #F03E2F; }
    .projects .project .tech .wordpress {
      background-color: #0073AA; }
    .projects .project .tech .php {
      background-color: #8892BF; }
    .projects .project .tech .twig {
      background-color: #B9CF29; }
    .projects .project .tech .scss {
      background-color: #CF649A; }
    .projects .project .description {
      padding-top: 1em; }
    .projects .project .screenshot {
      width: 100%;
      border: 1px solid #eff0f2;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: all ease 0.2s;
      border-radius: 5px; }
      .projects .project .screenshot:before {
        content: '';
        background-color: rgba(51, 83, 132, 0);
        border-radius: 5px;
        transition: all ease 0.2s; }
      .projects .project .screenshot:after {
        content: '\f360';
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
        transition: all ease 0.2s; }
      .projects .project .screenshot:hover {
        transition: all ease 0.2s; }
        .projects .project .screenshot:hover:before {
          content: '';
          background-color: rgba(51, 83, 132, 0.4);
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all ease 0.2s; }
        .projects .project .screenshot:hover:after {
          opacity: 1;
          background-color: rgba(91, 168, 209, 0.8);
          color: #fff;
          padding: 0.8em 1.1em;
          border-radius: 55px;
          transform: translate(-50%, -50%) rotate(0deg); }
      .projects .project .screenshot img {
        width: 100%;
        border-radius: 5px; }

.site-footer {
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%; }
  @media screen and (max-width: 768px) {
    .site-footer {
      width: 92%; } }
  .site-footer p {
    margin-bottom: 0; }
