body {
  font-family: "Assistant", sans-serif; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    text-transform: uppercase;
    color: #335384;
    letter-spacing: 2px; }
  body h2 {
    font-size: 1.25rem;
    font-weight: 600; }
  body .btn {
    padding: 0.2em 1em;
    background-color: #5ba7d1;
    border-radius: 0;
    color: #fff;
    text-transform: uppercase; }
    body .btn i {
      margin-right: 5px; }
    body .btn:hover {
      background-color: #335384;
      color: #5ba7d1; }
  @media screen and (max-width: 800px) {
    body .container {
      width: 100%;
      max-width: 100%;
      padding: 0; } }
  body ::-webkit-scrollbar {
    height: 0px;
    width: 2px;
    background: #e6e6e6; }
  body ::-webkit-scrollbar-thumb {
    background: #c7c7c7;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.493); }

.intro_header .profile-col {
  background-color: #eff0f2;
  position: relative; }
  @media screen and (max-width: 600px) {
    .intro_header .profile-col {
      width: 100%; } }
  .intro_header .profile-col .profile-inner {
    position: fixed;
    height: 100%;
    padding: 1.5em 3em; }
    @media screen and (max-width: 1100px) {
      .intro_header .profile-col .profile-inner {
        padding: 1.5em 0em; } }
    @media screen and (max-width: 800px) {
      .intro_header .profile-col .profile-inner {
        padding: 1.5em 1em; } }
    @media screen and (max-width: 600px) {
      .intro_header .profile-col .profile-inner {
        position: initial !important;
        width: 100%; } }
    .intro_header .profile-col .profile-inner .sections-wrap {
      height: 100%; }
      @media screen and (max-height: 900px) {
        .intro_header .profile-col .profile-inner .sections-wrap {
          overflow: scroll; } }
  .intro_header .profile-col .profile-img-wrapper {
    text-align: center;
    position: relative;
    width: 200px;
    margin: 0 auto; }
    .intro_header .profile-col .profile-img-wrapper:before {
      content: '';
      background-color: rgba(51, 83, 132, 0);
      border-radius: 100px;
      transition: all ease 0.2s; }
    .intro_header .profile-col .profile-img-wrapper:after {
      content: '\f360';
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: bold;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      opacity: 0;
      transition: all ease 0.2s; }
    .intro_header .profile-col .profile-img-wrapper:hover:before {
      content: '';
      background-color: rgba(51, 83, 132, 0.4);
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: all ease 0.2s; }
    .intro_header .profile-col .profile-img-wrapper:hover:after {
      opacity: 1;
      background-color: rgba(91, 168, 209, 0.8);
      color: #fff;
      padding: 0.8em 1.1em;
      border-radius: 55px;
      transform: translate(-50%, -50%) rotate(0deg); }
  .intro_header .profile-col .profile-img {
    width: 200px;
    border-radius: 100px; }
  .intro_header .profile-col .about {
    padding: 0.5em 3em; }
    @media screen and (max-width: 800px) {
      .intro_header .profile-col .about {
        padding: 0.5em 1em; } }
  .intro_header .profile-col .contact {
    padding-top: 2em; }
    .intro_header .profile-col .contact p {
      color: #335384; }
      .intro_header .profile-col .contact p i {
        width: 20px; }
      .intro_header .profile-col .contact p a {
        text-decoration: none;
        color: #335384; }
  .intro_header .profile-col .skills ul {
    padding-left: 0; }
    .intro_header .profile-col .skills ul li {
      list-style: none;
      padding-left: 0;
      color: #335384; }
      .intro_header .profile-col .skills ul li .competence {
        width: 70px;
        margin-right: 10px; }
        .intro_header .profile-col .skills ul li .competence i {
          color: #5ba7d1;
          font-size: 0.7em;
          margin: 1px; }
  .intro_header .profile-col .other-skills ul li {
    color: #335384; }
  .intro_header .profile-col .other-skills ul .adobe, .intro_header .profile-col .other-skills ul .office {
    cursor: pointer; }
  .intro_header .profile-col .other-skills ul .adobe-list, .intro_header .profile-col .other-skills ul .office-list {
    height: 0;
    overflow: hidden;
    transition: all ease 0.2s; }
  .intro_header .profile-col .other-skills ul .adobe-list.shown, .intro_header .profile-col .other-skills ul .office-list.shown {
    height: 130px;
    overflow: visible;
    transition: all ease 0.2s; }
  .intro_header .profile-col .other-skills ul .office-list.shown {
    height: 80px; }
  .intro_header .profile-col .languages ul li {
    color: #335384; }

.intro_header .info-col {
  padding: 3em 4em; }
  @media screen and (max-width: 800px) {
    .intro_header .info-col {
      padding: 2em 1em; } }
  .intro_header .info-col h1 {
    font-weight: 800;
    color: #335384;
    text-transform: uppercase;
    letter-spacing: 5px; }
  .intro_header .info-col .bolding {
    font-weight: 700;
    color: #6589bf;
    text-transform: uppercase;
    letter-spacing: 2px; }

.intro_header .projects {
  padding-top: 3em; }
  .intro_header .projects h3 {
    font-weight: 700; }
  .intro_header .projects .project {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #eff0f2; }
    .intro_header .projects .project:last-child {
      border-bottom: none; }
    @media screen and (max-width: 800px) {
      .intro_header .projects .project {
        width: 100%; } }
    .intro_header .projects .project .first-line {
      display: flex;
      margin-bottom: 10px; }
      @media screen and (max-width: 800px) {
        .intro_header .projects .project .first-line {
          flex-direction: column; }
          .intro_header .projects .project .first-line .tech {
            margin-left: 0 !important;
            margin-bottom: 10px; } }
      .intro_header .projects .project .first-line a {
        text-decoration: none; }
      .intro_header .projects .project .first-line .tech {
        margin-left: 10px; }
    .intro_header .projects .project .project-title {
      font-size: 1.2em;
      color: #6589bf; }
    .intro_header .projects .project .tech .tag {
      font-size: 0.7em;
      color: #fff;
      padding: 0.5em 1em;
      text-decoration: none;
      border-radius: 3px;
      margin: 0 2px;
      transition: all ease 0.2s; }
      .intro_header .projects .project .tech .tag:hover {
        opacity: 0.8;
        transition: all ease 0.2s; }
    .intro_header .projects .project .tech .gatsby {
      background-color: #663399; }
    .intro_header .projects .project .tech .sanity {
      background-color: #F03E2F; }
    .intro_header .projects .project .tech .wordpress {
      background-color: #0073AA; }
    .intro_header .projects .project .tech .php {
      background-color: #8892BF; }
    .intro_header .projects .project .tech .twig {
      background-color: #B9CF29; }
    .intro_header .projects .project .tech .scss {
      background-color: #CF649A; }
    .intro_header .projects .project .description {
      padding-top: 1em; }
    .intro_header .projects .project .screenshot {
      width: 100%;
      border: 1px solid #eff0f2;
      box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
      position: relative;
      transition: all ease 0.2s;
      border-radius: 5px; }
      .intro_header .projects .project .screenshot:before {
        content: '';
        background-color: rgba(51, 83, 132, 0);
        border-radius: 5px;
        transition: all ease 0.2s; }
      .intro_header .projects .project .screenshot:after {
        content: '\f360';
        position: absolute;
        font-family: "Font Awesome 5 Free";
        font-weight: bold;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(90deg);
        opacity: 0;
        transition: all ease 0.2s; }
      .intro_header .projects .project .screenshot:hover {
        transition: all ease 0.2s; }
        .intro_header .projects .project .screenshot:hover:before {
          content: '';
          background-color: rgba(51, 83, 132, 0.4);
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          transition: all ease 0.2s; }
        .intro_header .projects .project .screenshot:hover:after {
          opacity: 1;
          background-color: rgba(91, 168, 209, 0.8);
          color: #fff;
          padding: 0.8em 1.1em;
          border-radius: 55px;
          transform: translate(-50%, -50%) rotate(0deg); }
      .intro_header .projects .project .screenshot img {
        width: 100%;
        border-radius: 5px; }

.intro_header .site-footer {
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  width: 735px; }
  @media screen and (max-width: 768px) {
    .intro_header .site-footer {
      width: 92%; } }
  .intro_header .site-footer p {
    margin-bottom: 0; }
